.footerGrid {
    display: grid;
    grid-template-areas: 'main github instagram';
    grid-column-gap: 20px;
    grid-row-gap: 1px;
    align-content: center;
    justify-content: center;
    padding-top: 10px;
}

.main {
    grid-area: main;
    color: black;
}

.github {
    grid-area: github;
}

.instagram {
    grid-area: instagram;
}
